/_tools
/_tools/**/*
/public_html/conf/config.ini
/public_html/conf/logging_levels.ini
/public_html/data/log/*
/public_html/data/log/error/**/*
/public_html/data/session/*
/public_html/data/cache/*
/public_html/data/upload/*
build.properties
.buildpath
.project
.settings/
.settings/**/*
.bak/
.bak/**/*
*.DS_Store
!.gitignore