* {
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande", Lucida, sans-serif;
    color: #444;
}

body {
    padding: 20px;
    background: #F2F2F2;
    font-size: 14px;
}

p {
    padding: 0 10px 20px;
    line-height: 180%;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

div.section, code, h2 {
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    background: #FFF;
    padding: 15px 10px 10px;
    max-width: 500px;
    margin-bottom: 20px;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
}

code {
    display: block;
    font-family: "Courier New", Courier, serif;
    background: #E2E2E2;
    color: black;
}

h2 {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius-topleft: 12px;
    -moz-border-radius-topright: 12px;
    -webkit-border-top-left-radius: 12px;
    -webkit-border-top-right-radius: 12px;
    margin-bottom: 0px;
    background: #CCC;
    font-size: 14px;
    padding-top: 10px;
}

textarea {
    width: 90%;
}

input, textarea {
    font-size: 14px;
    border: #CCC solid 1px;
    padding: 5px;
    background: white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: inset 0 0 5px #EEE;
    -webkit-box-shadow: inset 0 0 5px #EEE;
    box-shadow: inset 0 0 5px #EEE;
    color: #666;
    width: 70%;
}

input[type=checkbox], input[type=radio] {
    width:auto;
}

input[type=submit] {
    background: #f0f8ff;
    font-weight: bold;
    color: #3e8888;
    width: 130px;
    cursor: pointer;
}

.jquery_form_error_message {
    margin: 5px 0 20px;
    padding: 10px;
    background: pink;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
}

.error {
    background: pink;
}

span.chars_left,
span.jquery_form_error_message {
    background: #f2f2f2;
    padding: 0 2px;
    font-weight: normal;
    font-size: 90%;
    color: #666;
}

span.jquery_form_error_message {
    color: red;
    display: block;
    background: none;
    margin: 0;
    padding: 0;
}

em {
    background: lightyellow;
    font-size: 90%;
    color: #81815c;
    padding: 0 1px;
}

.jquery_form_help {
    color:#999;
    font-family: Georgia, "Times New Roman", serif;
    margin-left: 4px;
}